/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

#login:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 100px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin: 50px;
}

.boutonfiltre {
	font-family: "Syne";
	font-size: 16px;
	font-style: bold;
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px;
	cursor: pointer;
}

.boutonfiltre:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.boutonlogin {
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px;
	cursor: pointer;
	width: 179px;
	margin-top: 15px;
	margin-bottom: 37px;
}

.boutonlogin:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.log-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	margin-top: 50px;
}

.box-email,
.box-password {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	outline: none;
	font-size: 20px;
	padding-left: 15px;
}

.input-txt {
	margin-bottom: 5px;
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
}

.reset-pass {
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 250px;
}

.txt-log {
	font-weight: bold;
}

#login {
	text-decoration: none;
	color: black;
}

.bouton-modif {
	position: relative;
	font-family: 'work sans';
	color: black;
	margin-left: 10px;
	z-index: 2;
}

.icone-modif {
	color: black;
	margin-left: 30px;
	margin-right: 20px;
	font-size: 15px;
	position: relative;
	top: -3px;
	cursor: pointer;
}

.edit {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	width: 100vw;
	height: 59px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-size: 16px;
}

.modale {
	position: fixed;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modale-box {
	overflow: none;
	width: 630px;
	height: 688px;
	background-color: #FFFFFF;
	z-index: 2;
	border-radius: 10px;
}

#fermerModale {
	position: relative;
	right: -90%;
	top: 3%;
	font-size: 20px;
	cursor: pointer;
}

#retour {
	visibility: hidden;
	position: relative;
	left: 3%;
	top: 3%;
	font-size: 20px;
	cursor: pointer;
}

.contenu-modale {
	margin-bottom: 0px;
	padding-bottom: px;
	border-bottom: #B3B3B3 solid 2px;
	width: 100%;
	height: 480px;
}

#imgModaleEdit {
	display: grid;
	align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
	padding-top: 30px;
}

#imgModaleEdit img {
	max-width: 79px;
	height: 120px;
}

.edition-modale {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px;
	margin-top: 50px;
	margin-bottom: 0px;
}

.edition-modale h3 {
	font-size: 26px;
}



.btn-valide-edit {
	margin: 30px;
	margin-top: 35px;
	font-family: "Syne";
	font-size: 16px;
	font-style: bold;
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	cursor: pointer;
}

.btn-valide-edit:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.btn-valide-ajout {
	display: none;
	margin: 30px;
	margin-top: 35px;
	font-family: "Syne";
	font-size: 16px;
	font-style: bold;
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	border : none;
	border-radius: 60px;
	padding: 10px;
	padding-left: 90px;
	padding-right: 90px;
	cursor: pointer;
}

.img-modale {
	position: relative;
	right: -52px;
	top: -115px;
	font-family: "Font Awesome 6 Free";
	font-size: 17px;
	content: "\f2ed";
	color: white;
	background-color: black;
	height: auto;
	padding: 4px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
}

#imgModaleAjout {
	display: none;
	flex-direction: column;
}

.dropzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
    width: 100%;
    padding-bottom: 20px;
	padding-top: 20px;
    background: #e9f1f6;
    border-radius: 3px;
    text-align: center;
	margin-top: 30px;
}

.btn-ajout-plus {
	font-family: "Work Sans";
	font-size: 14px;
	font-style: medium;
	font-weight: bold;
	color: #306685;
	background-color: #CBD6DC;
	border: none;
	border-radius: 60px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	cursor: pointer;
	letter-spacing: 0%;
	line-height: 100%;
}

.format {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 10px;
	color: #444444;
}

.ajout-icone {
	width: 76px;
	height: 76px;
	margin-bottom: -10px;
}

.titre-photo {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 20px;
}

.titre-photo-input {
	height: 51px;
	border: none;
	border-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 14px 0px #00000017;
	outline: none;
	margin-top: 10px;
	padding-left: 10px;
}

.label-titre {
	color: rgba(61, 61, 61, 1);
	font-size: 14px;
	font-weight: bold;
}

.cat-photo-input {
	height: 51px;
	border: none;
	border-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 14px 0px #00000017;
	outline: none;
	margin-top: 10px;
}

.menu-cat {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: none;
	outline: none;
	background-color: white;
	border-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 14px 0px #00000017;
}

.image-preview {
	max-width: fit-content;
	max-height: 200px;
	margin: 0;
}




